html{
    background-color: #eeeeee;
}
.brand-logo{
    margin-left: 1vw;
}

.container{
    margin-top: 20px;
}

.section-title{
    margin-bottom: 5vh;
}
.btn{
    width: 100%;
}
.progress{
    background-color:#e1f5fe;
}

.progress .indeterminate{
    background-color:#03a9f4;
}

.info-latex{
    line-height: 3rem;
    font-size: 1.7rem;
}


.latex{
    font-size: 1.4rem;
    overflow-x: auto;
}

.header-stuff{
    height: 3rem;
    margin: 0 0 1rem 0;
}

.btn{
    height: 3rem;
    line-height: 3rem;
}

.half{
    width: 50%;
}